{% extends 'base.html' %}
{% block head_content %}
  {% endblock %}
{% block content %}





<div class="col-md-4".col-md-3>
<form action="/parcel/" method="post">
  {% csrf_token %}
    <button name='domestic' type="button" class="btn btn-primary">Domestic</button>
    {{form.as_p}}
    <input type="submit" value="Get">
</form>
</div>

<div class="col-md-4".col-md-4>
<form action="/parcel/" method="post">
  {% csrf_token %}
    <button name='international' type="button" class="btn btn-primary">International</button>
    {{form1.as_p}}
    <input type="submit" value="Get">
</form>
</div>

{% endblock %}