<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Total Price</h1>
<h1>{{price}} rs</h1>
<hr>
<h2>Delivery address</h2>
<h4>{{delivery}}</h4>
<h1>Payment Options</h1>
<form method="get">
    <input name='payment' type="submit" value="Phonepay" class="btn btn-primary">
    <input name='payment' type="submit" value="Gpay" class="btn btn-primary">
    <input name='payment' type="submit" value="Credit Card" class="btn btn-primary">
    <input name='payment' type="submit" value="Debit Card" class="btn btn-primary">
    <input name='payment' type="submit" value="Razor Pay" class="btn btn-primary">
</form>
</body>
</html>